body {
	padding-left: 4em;
	padding-right: 4em;
}
#nav {
	position: relative;
	width: 72em;
}
#nav .prev {
	position: absolute;
	left: -1.5em;
}
#nav .next {
	position: absolute;
	right: -1.5em;
}
#nav li {
	font-size: 2em;
	list-style: none;
}
#nav a { text-decoration: none; }
#nav a:hover { text-decoration: none; }

#content {
	margin: 0;
	padding: 0;
}
#content.fancy {
	height: 18em;
	overflow: hidden;
	position: relative;
	width: 72em;
}
#content li {
	float: left;
	list-style: none;
	margin: 0 0 3em;
	min-height: 15em;
	padding-right: 2em;
	padding-top: 0.75em;
	width: 22em;
}
#content h2 {
	font-size: 1.5em;
	line-height: 1.2;
	margin: 0 0 0.5em;
}
#content p {
	font-size: 1.2em;
	line-height: 1.5;
	margin: 0 0 1em;
}

.carousel a,
.carousel img {
	display: block;
	width: 100%;
}

.carousel a {
	font-size: 1.285714286em; /* 18px */
	line-height: 1.222222222; /* 22px */
	margin: 0;
}

.carousel img {
	margin-bottom: 0.5em; /* 7px */
	max-width: 221px;
}
